.navbar {
  font-family: 'Poppins SemiBold';
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 24px 0 ;
}

.navbar ul {
  color: white;
  display: flex;
  gap: 50px;
  list-style: none;
}

.navbar ul .active {
  font-weight: bold;
  color: var(--dark-orange);
}

/* Navbar.module.css */

/* Hamburger menu icon */
.menuIcon {
  display: none; /* Hide by default on larger screens */
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
}

/* Show the navigation menu on mobile */
.showMenu {
  display: block;
}

/* Open/Close animation for the menu icon */
.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Media query for mobile */
@media (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  ul {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background-color:#1f2235;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  ul.showMenu {
    display: block;
  }

  ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    text-align: right;
  }
}
